<html>
<head>
    <title>iBooks Highlights exporter</title>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <h1>iBooks Highlights exporter</h1>
    <form action="export" method="post">
    <ul>
    {% for aid, details in booklist.iteritems() %}
    <li id='{{ aid }}'><input type='checkbox' name='titles' value='{{ aid }}'
    />{{ details['ZTITLE'] }} ({{ details['COUNT'] }})</li>
    {% endfor %}
    </ul>
    <input type="submit" value="Export">
</form>
</div>
</body>
</html>
