<html>
<head>
<title>ibooks exported highlights ({{obj.date}})</title>
<meta charset="utf-8">
{% if not obj.nobootstrap %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endif %}
<style>
p {
    padding: 5px;
}
.b_gray {
    border-left: 10px solid #F2F2F2;
}

.b_green {
    border-left: 10px solid #B4F13D;
}

.b_blue {
    border-left: 10px solid #9FBFFB;
}

.b_yellow {
    border-left: 10px solid #F8EE49;
}

.b_pink {
    border-left: 10px solid #ED95C7;
}

.b_violet {
    border-left: 10px solid #CF96EA;
}
</style>
</head>
<body>
<div class="container">
    <h1>iBooks exported highlights </h1>
    <p>These highlights were exported on <em>{{obj.date}}</em></p>
    <hr>
    {% if not obj.notoc %}
    <div id="toc"><h2>Books</h2>
    </div>
    {% endif %}
    <hr>
    <h2>Highlights</h2>
<div id="contents">
{% for h in obj.highlights %}
    {% if h[1] %}
        {% if last != h[0] %}
        {# found a new book, print its title #}
            {% set last=h[0] %}
            <div class="well">
                <h2>{{ obj.assetlist[h[0]][0] }}</h2>
                <small>{{ obj.assetlist[h[0]][1] }}</small>
            </div>
        {% endif %}
        {# print the quote #}
        <p class="{{ get_color(h[3]) }}">{{ bold_text(h[2], h[1]) }} <br />
	<small>{{ h[5] }}</small> <br/>
        <small>{{ get_book_details(h[0]) }}</small></p>
    {% endif %}
    {% endfor %}
</div>
{% if not obj.notoc %}
<script type="text/javascript">
// copied as is from:
// http://stackoverflow.com/questions/187619/is-there-a-javascript-solution-to-generating-a-table-of-contents-for-a-page

window.onload = function () {
    var toc = "";
    var level = 0;

    document.getElementById("contents").innerHTML =
        document.getElementById("contents").innerHTML.replace(
            /<h([\d])>([^<]+)<\/h([\d])>/gi,
            function (str, openLevel, titleText, closeLevel) {
                if (openLevel != closeLevel) {
                    return str;
                }

                if (openLevel > level) {
                    toc += (new Array(openLevel - level + 1)).join("<ul class='nav nav-tabs nav-stacked'>");
                } else if (openLevel < level) {
                    toc += (new Array(level - openLevel + 1)).join("</ul>");
                }

                level = parseInt(openLevel);

                var anchor = titleText.replace(/ /g, "_");
                toc += "<li><a href=\"#" + anchor + "\">" + titleText
                    + "</a></li>";

                return "<h" + openLevel + "><a name=\"" + anchor + "\">"
                    + titleText + "</a></h" + closeLevel + ">";
            }
        );

    if (level) {
        toc += (new Array(level + 1)).join("</ul>");
    }

    document.getElementById("toc").innerHTML += toc;
};
</script>
{% endif %}
</div>
</body>
</html>
